.padding-top {
    padding-top: 3%;
}

.bg-image {
    /* The image used */
    background-image: url("books.jpeg");
  
    /* Full height */
    height: 750px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-header{
    color: white;
    size: 30px;
}

